<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-2">
            <button class="btn d-flex justify-content-between align-items-center" (click)="hideDetail()"> <i class="fas fa-chevron-left"></i> List </button>
        </div>
        <div class="col text-center">
            <h4>{{data.date}}</h4>
        </div>
        <div class="col-1">
                <a class="btn" target="_blank"
                    href="https://twitter.com/intent/tweet?text=The Temperature in {{location.city}}, {{location.state}} on {{data.date}} is {{data.temperatureApparent}} °F. The weather conditions are {{codes[data.weatherCode]}}.&hashtags=CSCI571WeatherForecast">
                    <i [ngStyle]="{'font-size':'25px', 'color': '#00acee'}" class="fab fa-twitter"></i>
                </a>
        </div>
    </div>
    <table class="table table-striped mx-auto">
        <tbody>
            <tr>
                <th >Status</th>
                <td scope="col">{{codes[data.weatherCode]}}</td>
            </tr>
            <tr>
                <th>Max Temperature</th>
                <td>{{data.temperatureMax}} ° F</td>
            </tr>
            <tr>
                <th>Min Temperature</th>
                <td>{{data.temperatureMin}} ° F</td>
            </tr>
            <tr>
                <th>Apparent Temperature</th>
                <td>{{data.temperatureApparent}} ° F</td>
            </tr>
            <tr>
                <th>Sun Rise Time</th>
                <td>{{data.sunriseTime}}</td>
            </tr>
            <tr>
                <th>Sun Set Time</th>
                <td>{{data.sunsetTime}}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{data.humidity}}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{data.visibility}}</td>
            </tr>
            <tr>
                <th>Cloud Cover</th>
                <td>{{data.cloudCover}}</td>
            </tr>
        </tbody>
    </table>
    <app-map [center]="center" class="mb-3"></app-map>
</div>
